---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BlogPosts from '../components/BlogPosts.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div style="border-bottom: 1px dashed var(--accent-dark);">
				<h1 style="text-decoration: underline wavy var(--accent-dark);">Hello, Astronaut!</h1>
				<h4 style="margin-bottom: 1em;">
					I'm apolunar and I'm curious about technology and engineering!
				</h4>
			</div>
			
			<div style="margin: 2em;">
				<BlogPosts numPosts=5 />
			</div>
		</main>
		<Footer />
	</body>
</html>
