---
import HeaderLink from './HeaderLink.astro';
import Socials from './Socials.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<span style="white-space: nowrap;">
		<h2>
			<a href="/">./{SITE_TITLE}</a>
			<!-- {
				Astro.url.pathname.split('/').map((path) => {
					console.log(path)
					return <h2>/<a href={Astro.site + path}>{path}</a></h2>
				}) TODO
			} -->
		</h2>
	</span>
	<nav>
		<div class="internal-links">
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/fun">Fun</HeaderLink>
		</div>
		<Socials />
	</nav>
</header>
<style>
	header {
		margin: 0 auto;
		padding: 1em;
		width: var(--width);
	}
	h2 {
		margin: 0;
		font-size: 1em;
		display: inline-block;
	}
	h2 a {
		text-decoration: none;
	}
	a.active:link {
		text-decoration: underline wavy var(--accent-dark)!important;
	}
	h2 a:hover {
		color: var(--accent-dark);
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--gray);
		text-decoration: none;
	}
	nav a:hover {
		color: var(--accent);
		/* text-decoration: underline wavy var(--accent-dark); */
	}
	@media (max-width: 1100px) {
		header {
			max-width: 95%; /* Set your desired max width for smaller screens here */
		}
	}
</style>

